@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é ç
*/

body {
    background-color: rgb(170, 250, 183);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(38, 73, 37);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: rgb(0, 255, 55);
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: #d6cd52;
}